All Shelters:
<% @shelters.each do |shelter| %>
    <p><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}"%></p>
<% end %>

<div id = "pending" >
<h2>Shelters with Pending Applications: </h2>
<% @pending_shelters.each do |shelter| %>
    <%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %>
<% end %>
</div>
